spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nexplay
    username: ${db.username}
    password: ${db.password}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: mlbb

  config:
    import: optional:file:secrets.yml

server:
  port: 8080